<head>
    <title>Watch This - About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<%- include('header') -%>

<h2 class="section-title">Watch This? What is It about?</h2>

<div class="about-description">
    <p>"Watch This" is a personal project with no economical purpose. It's a site in which you can find the info and ratings of movies and TV series.</p>
    <p>"Watch This" was built entirely with the APIs of OMDB, TMDB and the API Movies News (from Daniel Ilie).</p>
    <p>If you are interested in the project, here is the GitHub: <a href="https://github.com/tpersico22/Watch-This">https://github.com/tpersico22/Watch-This</a></p>
    <p>And I invite you to visit our other project, <a href="https://persimusic.com/">Persi Music</a>, a Website of Albums Reviews built in Wordpress with 15 years of 
        trajectory.</p>

</div>


<%- include('footer') -%>