<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/wt-logo3.png">
    <title>Watch This</title>
    <script src="https://kit.fontawesome.com/7f1c40975e.js" crossorigin="anonymous"></script>
    
</head>
    <body>
        <header>
            <div class="header-cont">
                <div class="nav-sup">
                    <a href="/"><img class="logo" src="/images/wt-logo.png" alt=""></a>
                    <form class="search" action="/movies/search" method="POST">
                        <input class="search-text" type="text" placeholder="Movies, TV series" name="keyword">
                        <button class="search-button">Search</button>
                    </form>
                    <div class="user"><a href="/users/login"><i class="fa-regular fa-circle-user"></i></a></div>
                </div>
            </div>
            <div id="menu">
                <nav class="nav-burger-button" id="nav-burger-button"><i class="fa-solid fa-bars"></i>
                    <ul class="nav-burger-open" id="nav-burger-open">
                        <li><a href="/">Home</a></li>
                        <li><a href="/movies/popular-today">Popular Today</a></li>
                        <li><a href="/movies/top-rated-movies/1">Top Rated Movies</a></li>
                        <li><a href="/movies/top-rated-series/1">Top Rated Series</a></li>
                        <li><a href="/movies/news">News</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav-inf" id="nav-inf">
                <div class="ul-content">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/movies/popular-today">Popular Today</a></li>
                        <li><a href="/movies/top-rated-movies/1">Top Rated Movies</a></li>
                        <li><a href="/movies/top-rated-series/1">Top Rated Series</a></li>
                        <li><a href="/movies/news">News</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>
