<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BPQ5TPL39Y"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
  
          gtag('config', 'G-BPQ5TPL39Y');
        </script>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<%- include('header') -%>

<div class="login">
  <h2 class="section-title">Login</h2>

  <img class="coming-soon" src="/images/coming-soon.jpg" alt="">
</div>

<%- include('footer') -%>