<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<%- include('header') -%>

<div class="login">
  <h2 class="section-title">Login</h2>

  <img class="coming-soon" src="/images/coming-soon.jpg" alt="">
</div>

<%- include('footer') -%>