body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(43, 42, 42);
  box-sizing: border-box;
}

a {
  color: #FF914D;
}

/*Header*/

.nav-inf{
  display: none;
}

.nav-inf ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: rgb(53, 52, 52);
  color: white;
  padding: 15px;
  margin: 0px;

}

.nav-inf{
  max-width: 100%;
  background-color: rgb(53, 52, 52);
}

.ul-content{
  max-width: 950px;
  margin: auto;
}

.logo{
  width: 80px;
}

.nav-inf ul li a {
  text-decoration: none;
}

.nav-sup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: black;
  max-width: 950px;
  margin: auto;
}

.header-cont{
  width: 100%;
  background-color: black;
}

.user{
  color: #FF914D;
  font-size: 40px;
  transition: 450ms all;
  border-radius: 50%;
  cursor: pointer;
}

.user:hover{
  box-shadow: 0px 0px 20px rgb(204, 203, 203);
  
}

.search{
  display: flex;
  align-items: center;
}

.search-button{
  background-color: #FF914D;
  height: 25px;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  border-radius: 3%;
  border: 1px #d87c42;
  cursor: pointer;
  transition: all 300ms;
}

.search-button:hover{
  background-color: #eed1c0;
}

.search-text{
  height: 25px;
  width: 100px;
}

/*Burger Button*/
.nav-burger-button{
  margin: auto;
  color: #d87c42;
  background-color: rgb(53, 52, 52);
  text-align: center;
  padding: 10px;
  font-size: 35px;
  cursor: pointer;
  position: relative;
}

#nav-burger-open{
  display: none;
  text-align: center;
  list-style: none;
  background-color: rgb(53, 52, 52);
  color: #d87c42;
  padding: 15px;
  margin: 0px;
  transition: all 450ms;
}

#menu .nav-burger-button:hover #nav-burger-open{
  display: block;
}

.nav-burger-open li a {
  text-decoration: none;

}

.nav-burger-open li {
  padding: 2%;
  font-size: 18px;
  cursor: pointer;

}


/*Body-General*/

.section-title{
  color: rgb(38, 179, 226);
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

/*Carrusel*/

.last-movies{
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  flex-wrap: nowrap;

}

.last-movies a{
  text-decoration: none;
}

.carrusel{
  width: 80%;
  margin: auto;
  transition: all 0.4s ease;
  overflow: hidden;
  scroll-behavior: smooth;
}

.buttons-carrusel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 750px;
  margin: auto;
  align-items: center;
  padding-bottom: 30px;
}

.buttons-carrusel .button-left{
  color:black;
  font-size: 25px;
  font-weight: bold;
  background-color: #FF914D;
  border: solid 1px #a85d2f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: all 450ms;
  cursor: pointer;
}

.buttons-carrusel .button-left:hover{
  color:black;
  background-color: #f8b58c;
  border: solid 1px #dd9e79;
}

.buttons-carrusel .button-right{
  color:black;
  font-size: 25px;
  font-weight: bold;
  background-color: #FF914D;
  border: solid 1px #a85d2f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: all 450ms;
  cursor: pointer;
}

.buttons-carrusel .button-right:hover{
  color:black;
  background-color: #f8b58c;
  border: solid 1px #dd9e79;
}

/*Movie content*/

.movie-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 2%;
  border: solid 1px black;
  width: 175px;
  padding: 5px;
  transition: 300ms all;
  cursor: pointer;
}

.movie-box:hover{
  border: solid 1px #FF914D;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  
}

.poster{
  width: 150px;
}

.slider{
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 950px;
}

.slider-image{
  max-width: 950px;
}

.text{
  color: white;
}

/*News*/

.news{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1050px;
  margin: auto;

}

.news-box{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  background-color: white;
  color: black;
  margin: auto;
  margin: 5px;
  border-radius: 2%;
  overflow: hidden;
}

.news-image{
  width: 310px;
  margin: auto;
  text-align: center;
  
}

.news-title{
  color: black;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  
}

.news-descrption{
  color: white;
  padding: 20px;
  margin: auto;
  text-align: center;
  font-style: italic;
}

/*About*/

.about-description{
  color: white;
  padding: 20px;
  margin: auto;
  max-width: 60%;
}

/*Movies & Series Detail*/

.box-movie-detail{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  max-width: 90%;
  color: black;
  margin: auto;
  border-radius: 2%;
}

.title-detail{
  margin-left: 7%;
  color: white;

}

.detail-part1{
  padding: 20px;
}

.network-logo{
  width: 30px;
  text-align: right;
}

.ratings{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  font-size: 15px;
}

.detail-part2{
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.year-runtime-detail{
  color: gainsboro;
  margin-left: 7%;
  margin-bottom: 10px;
}

.genres-detail{
  font-weight: bolder;
  font-size: 17px;
  color: #FF914D;
  margin-bottom: 20px;
  margin-top: 20px;
}

.director{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.director-detail{
  font-weight: bold;
}

.director-name{
  margin-left: 5px;
}

.actors{
  display: flex;
  margin-bottom: 15px;
}

.actors-detail{
  font-weight: bold;
}

.actors-name{
  margin-left: 5px;
}

.description-detail{
  font-weight: bold;
  padding-top: 3px;
}

.plot{
  max-width: 500px;
  padding-bottom: 10%;
}

.seasons-title{
  font-weight: bold;
}

.season-description{
  margin-left: 5px;
  color: purple;
  font-weight: bold;
}

.episode-title{
  font-weight: bold;
}

.episode-description{
  margin-left: 5px;
  color: purple;
  font-weight: bold;
}

.seasons-info{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.episodes-info{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  
}

.imdb-rating{
  font-weight: bold;
  margin-left: 5px;
  color: goldenrod;
  margin-left: 10px;
}

.tmdb-rating{
  font-weight: bold;
  margin-left: 10px;
  color: rgb(0, 110, 255);
}

.metacritic-rating{
  font-weight: bold;
  margin-left: 10px;
  color: darkblue;
}

.rt-rating{
  font-weight: bold;
  margin-left: 10px;
  color: rgb(238, 41, 6);
}

.tmdb-rating2{
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: rgb(38, 179, 226);
}

.rating-detail{
  display: flex;
  align-items: center;
  margin: 8px;
}

.video-small{
  margin: auto;
  padding-bottom: 20px;
}

.video{
  display: none;
  margin: auto;
  padding-bottom: 20px;
}

.creator-title{
  font-weight: bold;
}

/*Search*/

.search-results{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 30px;
  margin: 20px;
}

.results-url{
  text-decoration: none;
}

.results-box{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  max-width: 900px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: auto;
}

.results-image{
  display: none;
  height: 120px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.results-info{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.results-year{
  color: black;
}

.results-type{
  color: black;
  font-weight: bold;

  
}

/*Login*/

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coming-soon{
  margin: auto;
  text-align: center;
  width: 540px;
  max-width: 70%;
}

/*Footer*/

footer{
  background-color: black;
  color: #FF914D;
  padding: 30px;
  margin-top: 40px;
}

/*Media Querys*/

@media (min-width: 500px){
  .nav-inf{
    display: block;
  }

  .nav-burger-button{
    display: none;
  }

  .nav-burger-open{
    display: none;
  }

  .search-text{
    width: 80%;
  }

  .video{
    display: block;
  }

  .video-small{
    display: none;
  }

  .results-image{
    display: block;
  }

  .results-info{
    padding-left: 0%;
  }
}